.about{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.getFrom{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
}
.mainBody{
    padding-left: 20px;
    padding-right: 30px;
    font-family: "Courier New";
    text-align: justify;
}


/*https://www.w3schools.com/howto/howto_css_flip_card.asp*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back {
    background-color: lightseagreen;
    color: white;
    transform: rotateY(180deg);
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /*width: 100%;*/
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}


.lastPart {
    padding-left: 20px;
    padding-right: 100px;
    font-family: "Courier New";
    text-align: justify;
}

.askQ {
    text-align: center;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.9);
    padding-left: 100px;
    padding-right: 100px;
}

.contact{
    text-align: justify;
    padding-left: 400px;
    padding-right: 400px;
}

legend{
    font-size: 30px;
    text-align: center;
}

.input{
    border-radius: 5px;
    size: 100px;
}

.inputSel{
    border-radius: 5px;
    size: 100px;
}
























